* {
  padding: 0;
  margin: 0;
}

.dor {
  background-color: transparent;
  height: 100px;
  width: 100%;
  transition: all 0.5s ease-in-out;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress {
  width: 100vw;
  height: 2vh;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 99;
}

.progress1 {
  z-index: 99;
  content: " ";
  background-color: rgb(4, 0, 253);
  width: 100vw;
  position: fixed;
  height: 2vh;
  left: 110%;
  transition: all 0.2s ease-in;
}

.cont {
  height: 100vh;
  /* background-image: url(BiodegradableBronzeBullmastiff-mobile.mp4); */
  width: 100%;
  /* background-color: #302766; */
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.cont h1 {
  font-size: 60px;
  font-family: sans-serif;
  color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40%;
  transition: all 1s ease-in-out;
  /* transition-duration: 2s; */
  transition-delay: 0.1s;
}

#text2 {
  font-size: 60px;
  font-family: sans-serif;
  color: white;
  position: relative;

  transition: all 0.5s ease-in-out;
  /* transition-duration: 2s; */
  transition-delay: 0.5s;
}
#back {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.cont2 {
  /* background-color: rgb(92, 92, 192); */
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-self: center;
  justify-content: center;
}
.cont3 {
  width: 100%;
  height: 100vh;
  position: relative;
  /* background-color: #302766; */
  z-index: 99;
}

.cont3 h1 {
  font-family: sans-serif;
  font-size: 50px;
}

.cont4 {
  background-color: #302766;
  width: 100%;
  height: 100vh;
}

.logo {
  /* background-color: aqua;height: 100%; */
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
}

.logo > h1 {
  font-family: sans-serif;
}
.logo > h1:hover {
  color: #a2a1a5;
  cursor: pointer;
  scale: 1.1;
  transition: all 0.5s ease-in-out;
}
.logo > h1 > span {
  color: white;

  cursor: pointer;
  scale: 1.5;
  transition: all 0.5s ease-in-out;
}
.navb {
  width: 60%;
  height: 100%;
  /* background-color: #302766; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: sans-serif;
  font-weight: 500;
  color: white;
}
.navb > li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navb > li:hover {
  background: white;
  transition: all 0.5s ease-in-out;
  color: #302766;
  cursor: pointer;
}
.logo {
  display: flex;

  justify-content: space-around;
}
.btn-1 {
  background-color: #000000;
  position: relative;
  width: 187px;
  color: #b86446;
  height: 100px;
  font-family: sans-serif;
  font-size: 25px;
  top: 17%;
  /* display: flex; */
  border: transparent;
  border-radius: 59px;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
}
